body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: skyblue;
    justify-content: center;
}

.nav-spread {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.cities {
    display: flex;
    gap: 1em;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-bottom: 2px solid black;
}

.main-header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

select {
    height: fit-content;
}

.main-content {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

.weather-boxes {
    min-width: 120px;
    max-width: fit-content;
    text-align: center;
    background-color: whitesmoke;
}

#circles {
    background-color: yellow;
    border-radius: 50%;
}

#main-temps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.high::after, .low::after {
    content: "`";
}

.high {
    color: red;
}

.low {
    color: blue;
}

.cookie {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    width: 49%;
    gap: 5%;
    margin-left: 25%;
    position: fixed;
    bottom: 150px;
}

.cookie-content {
    width: 70%;
}

#cookie-button {
    background-color: green;
    color: white;
    box-shadow: 1px 2px 1px black;
}